<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>2&cross;2 Matrix</title>
	<script src="{{ url_for('static', filename='jquery.js') }}"></script>
</head>
<body>
	<div class="input">
		<h1>Enter Matrix</h1>

		<form id="input_matrix">
			<table>
				<tr>
					<td><input type="text" name="a11"></td>
					<td><input type="text" name="a12"></td>
				</tr>
				<tr>
					<td><input type="text" name="a21"></td>
					<td><input type="text" name="a22"></td>
				</tr>
			</table>
			<input type="submit" value="Calculate!">
			<input type="reset" value="Reset">
		</form>

		<div class="answers">
			<p class="determinant"></p>
			<p class="transpose"></p>
			<p class="inverse"></p>
		</div>
	</div>

	<script>
		$("#input_matrix").on("submit", function(e){
			e.preventDefault()
			data = $(this).serialize()
			$.post("/api/twoByTwo", data, function(response){
				if(response){
					determinant = response[0]
					transpose = response[1]
					inverse = response[2]

					$(".answers .determinant").html("<h2>Determinant</h2>" + determinant)

					transpose_ans = "<table>"
					for (var i = 1; i < 3; i++) {
						transpose_ans += "<tr>"
						for (var j = 1; j < 3; j++) {
							transpose_ans += "<td>" + transpose[i][j] + "</td>"
						}
						transpose_ans += "</tr>"
					}
					transpose_ans += "</table>"
					$(".answers .transpose").html("<h2>Transpose</h2>" + transpose_ans)

					if(inverse === -1){
						inverse_ans = "Inverse does not exist."
					}
					else{
						inverse_ans = "<table>"
						for (var i = 1; i < 3; i++) {
							inverse_ans += "<tr>"
							for (var j = 1; j < 3; j++) {
								inverse_ans += "<td>" + inverse[i][j] + "</td>"
							}
							inverse_ans += "</tr>"
						}
						inverse_ans += "</table>"
					}
					$(".answers .inverse").html("<h2>Inverse</h2>" + inverse_ans)
				}
			});
		});
	</script>
</body>
</html>