<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>2&cross;2 Matrix</title>
	<script src="{{ url_for('static', filename='jquery.js') }}"></script>
</head>
<body>
	<div class="input">
		<h1>Enter Matrix</h1>

		<form id="input_matrix">
			<table>
				<tr>
					<td><input type="number" name="a11"></td>
					<td><input type="number" name="a12"></td>
				</tr>
				<tr>
					<td><input type="number" name="a21"></td>
					<td><input type="number" name="a22"></td>
				</tr>
			</table>
			<input type="submit" value="Calculate!">
			<input type="reset" value="Reset">
		</form>
		<p class="error"></p>
	</div>
	<div class="answers">
		<p class="determinant"></p>
		<p class="transpose"></p>
		<p class="inverse"></p>
	</div>

	<script>
		$("#input_matrix").on("submit", function(e){
			e.preventDefault()
			valid = true
			for (var i = 1; i < 3; i++) {
				for (var j = 1; j < 3; j++) {
					elem = $("#input_matrix input[name=a" + i + j + "]")
					console.log(elem.val())
					if(elem.val()== ''){
						valid = false
						break
					}
				}
			}
			if(valid){
				data = $(this).serialize()
				$.post("/api/twoByTwo", data, function(response){
					if(response){
						determinant = response[0]
						transpose = response[1]
						inverse = response[2]
						$(".answers .determinant").html("<h2>Determinant</h2>" + determinant)
						$(".answers .transpose").html("<h2>Transpose</h2>" + transpose)
						$(".answers .inverse").html("<h2>Inverse</h2>" + inverse)
						$("p.error").html("")
					}
				});
			}
			else{
				$("p.error").html("Please fill in all values.");
			}
		});
		$("input[type=reset]").click(function(e){
			e.preventDefault()
			location.reload()
		});
	</script>
</body>
</html>